@charset "utf-8";

.display-block{display:block!important;}
a{transition: none;}
input[type="checkbox"]{
    -webkit-appearance:checkbox;
    -moz-appearance: checkbox;
    appearance: checkbox;
}
body{
    width:100%;
    min-width: 1400px;
    font-size:12px;
    font-family: '맑은 고딕', 'Malgun Gothic', 'Dotum', '돋움', 'arial', 'verdana', sans-serif;
    word-break: keep-all;
}
.main-content {
    width: 100%;
    margin: auto;
    overflow: hidden;
}
.main-header{
    width:100%;
    height:60px;
    padding:0 10px;
    position:relative;
    border-bottom:1px solid #c6c6c6;
    background: url(../img/admin-hd-bg.gif) repeat-x;
    margin-bottom:10px;
}
.main-header h2{
    width:100%;
    text-align: center;
    font-size:18px;
    font-weight: 600;
    line-height: 60px;
}
.main-hd-btn-wrap{
    position:absolute; top:0; right:0;
    width:350px;
    height:60px;
}
.main-header button{
    float: right;
    background:#da394a;
    color:#fff;
    padding:10px 15px;
    margin-top:9px;
    margin-right:10px;
    font-size:14px;
    border-radius: 5px;
}
.exel-ic{
    display:inline-block;
    width:10px;
    height:10px;
    margin-right:5px;
    background:url(../img/exel.gif) center center no-repeat;
}
/* --- */
.main-body{
    padding:0 10px;
}
.category-tree ul{
    display: none;
}
/* left */
.main-left {
    min-width: 15%;
    border: 1px solid #dadada;
    float: left;
    margin-right:10px;
}
.main-left-head{
    height: 50px;
    line-height: 50px;
    padding: 0 10px;
    background: #f1f1f1;
    border-bottom: 1px solid #dadada;
}
.main-left-footer{
    height: 50px;
    line-height: 50px;
    padding: 0 10px;
    background: #f1f1f1;
    border-top: 1px solid #dadada;
}
.left-head-tit span input{
    padding: 5px 10px;
    height: 30px;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
}
.left-head-tit input{
    padding: 5px 10px;
    height: 30px;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
}
.categoty-select{
    width:150px;
}
.main-left-head input.add-folder{
    background: #59a9e5;
}
.main-left-head input.remove-folder{
    background: #ef606f;
}
.main-left-footer input {
    background: #59a9e5;
}
.main-left-head span:nth-of-type(2) input{
    background: #59a9e5;
}
.main-left-head span:nth-of-type(3) input{
    background: #ef606f;
}
.main-left-footer span input {
    background: #59a9e5;
}
.category-tree{
    width: 100%;
    height: 500px;
    overflow: auto;
    padding: 5px 0;
    background: rgba(255,255,238,0.9);
}
.category-tree > li {
    padding-left: 20px;
}
.category-tree li a.active{
    background:#84c2ff;
    padding:5px;
}
/*하단에 새로 추가 : img/icon폴더에 d-6.png 파일도 새로 추가됨*/
.category-tree-2dp > li > a > span.active, .category-tree > li > a > span.active{
    background: url(../img/icon/d-6.png) no-repeat center / 15px
}
.category-tree > li > a > span{
    display: inline-block;
    width: 15px;
    height: 15px;
    background: url(../img/icon/d-5.png) no-repeat center / 15px
}
.category-tree-2dp > li,.category-tree-3dp > li {
    background: url(../img/icon/d-3.png) repeat-y left;
}
.category-tree-2dp > li > a > span{
    display: inline-block;
    width: 15px;
    height: 15px;
    background: url(../img/icon/d-5.png) no-repeat center / 15px
}
.category-tree-3dp > li > a > span{
    display: inline-block;
    width: 15px;
    height: 15px;
    background: url(../img/icon/d-4.png) no-repeat center / 15px
}
.category-tree-2dp > li:last-child > a::after,
.category-tree-3dp > li:last-child > a::after{
    content: "";
    height: 15px;
    width: 15px;
    display: inline-block;
    margin-left: 5px;
    background: url(../img/icon/+-icon.svg) no-repeat center / cover;
    vertical-align: -3px;
}
.category-tree-2dp > li {
    padding-left: 20px;
}
.category-tree-3dp > li {
    padding-left: 20px;
}
/* right */
.main-right{
    min-width: calc(80% - 10px);
    float:left;
}
.main-right>div{
    width: 100%;
    border: 1px solid #dadada;
}
.main-right>div{
    margin-bottom:10px;
}
.main-right-head {
    height: 50px;
    line-height: 50px;
    background: #dddddd;
    border-bottom: 1px solid #dadada;
    padding: 0 10px;
    font-size:18px;
    font-weight: 600;
}
.right-table,.right-table-4{
    width: 100%;
}
.right-table tr {
    height: 45px;
    border-bottom: 1px solid #dadada;
}
.right-table tr:last-child{
    border:none;
}
.right-table tr td {
    padding: 10px;
}
.right-table tr:nth-of-type(1) td input {
    vertical-align: -2px;
    margin-right: 5px;
}
.right-table tr:nth-of-type(2) td p {
    margin-bottom: 5px;
}
.text-width {
    width: 100%;
}
.right-table tr td:nth-of-type(1) {
    background: #f1f1f1;
}
.right-table input[type="text"] {
    height: 30px;
    border: 1px solid #a7a8aa;
}
.main-right>.main-right-4{
    border: 0px;
    margin-bottom: 10px;
}
.right-table-4 thead td {
    line-height: 45px;
    border: 1px solid #dadada;
    background: #f1f1f1;
    text-align: center;
}
.right-table-4 tbody tr:last-child{
    border:none;
}
.right-table-4 tbody tr td {
    height: 45px;
    border: 1px solid #dadada;
    text-align: center;
}
.right-table-4 tbody tr td:nth-of-type(3),
.right-table-4 tbody tr td:nth-of-type(5){
    text-align: left;
    padding-left: 10px;
}
/* .right-table-4 tbody tr:nth-of-type(1) input {
    width: 135px;
    height: 30px;
    border: 1px solid #a7a8aa;
} */
.product-list, .product-list1, .event-detail-btn {
    background: #da394a;
    color: #fff;
    padding: 5px 10px;
    font-size: 14px;
    border-radius: 5px;
}
.product-list2 {
    background: #b3b3b3;
    color: #fff;
    padding: 5px 10px;
    font-size: 14px;
    border-radius: 5px;
}
/* 라디오버튼 */
.radio-td input{display: none;}
.radio-td label span{
    display: inline-block;
    width: 100px;
    margin-left: 30px;
    line-height: 29px;
}
input[id="right-ra1"] + label,
input[id="right-ra2"] + label
{
    display: inline-block;
    width: 28px;
    height: 28px;
    background: url(../img/icon/but-g-1.png)no-repeat center / 20px;
    cursor: pointer;
}
input[id="right-ra2"] + label{
    margin-left: 35px;
}
input[id="right-ra1"]:checked + label,
input[id="right-ra2"]:checked + label
{
    background: url(../img/icon/but-g-2.png)no-repeat center / 20px;
}
input[class='styleClass'] + label
{
    display: inline-block;
    width: 28px;
    height: 28px;
    background: url(../img/icon/but-g-1.png)no-repeat center / 20px;
    cursor: pointer;
}
.radio-td label:nth-of-type(2){
    margin-left: 35px;
}
input[class='styleClass']:checked + label
{
    background: url(../img/icon/but-g-2.png)no-repeat center / 20px;
}
/* 파일박스 */
.fileBox,.fileBox2{
    width:100%;
}
.fileBox .fileName,.fileBox2 .fileName2{display:inline-block;width:290px;height:30px;padding-left:10px;line-height:30px;border:none;border:1px solid #aaa;background-color:#efefef;vertical-align:middle}
.fileBox .btn_file,.fileBox2 .btn_file2 {display:inline-block;background: #fff;border:1px solid;
    color: #777;width:65px;height:30px;font-size:12px;font-weight:100;line-height:30px;text-align:center;vertical-align:middle}
.fileBox input[type="file"],.fileBox2 input[type="file"] {position:absolute;width:1px;height:1px;padding:0;margin:-1px;overflow:hidden;clip:rect(0,0,0,0);border:0}
.fileBox .ex,.fileBox2 .ex{line-height: normal;}
/* 일정 */
.cla-p1{
    float: left;
    margin: 8px 10px;
}
.cla{
    width: 130px;
    height: 30px;
    float: left;
    background: #fff;
    border: 1px solid #a7a8aa;
}
.cla > input {
    float: left;
    display: block;
    width: 80%;
    height: 28px !important;
    border-width: 0;
    padding: 0 17px;
    border: 0px !important;
}
.cla-img1{
    float: left;
    width: 20%;
    height: 100%;
    background: url(../img/icon/calendar.png) no-repeat center / cover;
}
/*modal*/
/* 모달 팝업창 */
.modal,.modal1,.modal2{
    display: none;
    position: fixed;
    z-index: 5000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.7);
    line-height: 28px;
}
.modal-content{
    overflow: auto;
    width: 1300px;
    max-height:80vh;
    background: #fff;
    margin: 5vh auto 5vh;
    margin-top:calc(5vh + 70px);
    z-index: 5001;
}
.modal-header{
    position: fixed;
    top:5vh;
    width:1300px;
    height:70px;
    background:#da294a;
    color:#fff;
}
.modal1 .modal-content,.modal2 .modal-content{
    overflow: auto;
    width: 800px;
    max-height:80vh;
    background: #fff;
    margin: 5vh auto 5vh;
    margin-top:calc(5vh + 70px);
    z-index: 5001;
}
.modal1 .modal-header,.modal2 .modal-header{
    position: fixed;
    top:5vh;
    width:800px;
    height:70px;
    background:#da294a;
    color:#fff;
}
.modal-header h2{
    font-size: 18px;
    line-height: 70px;
    text-align: center;
}
.modal-close,.modal-close1,.modal-close2{
    position:absolute; top:0; right:0;
    width: 35px;
    height: 35px;
    margin: 15px 15px 15px 0;
    background:url(../img/icon/x-white-ic.svg) center center no-repeat;
    white-space: nowrap;
    text-indent: 200%;
    overflow: hidden;
}
.modal-close:hover,.modal-close1:hover,.modal-close2:hover {
    cursor: pointer;
}

.modal-body{
    width:100%;
    height:auto;
    padding:30px 20px;
}
.modal-body .right{
    float:right;
}
.modal-body .right::after{
    content:'';
    clear:both;
}
.goods-detail-table{
    width:100%;
    margin-bottom:20px;
    text-align: left;
}
.goods-detail-table > tbody > p {
    font-size: 15px;
    font-weight: bold;
}
.goods-detail-table input{
    border:none;
    border: 1px solid #b5b5b5;
    height:25px;
    padding:0 5px;
}
.goods-detail-table tr{
    height:35px;
    border:1px solid #dadada;
    text-align: left;
}
.goods-detail-table tr:nth-of-type(4) > input[type=""] {
    height: auto;
    vertical-align: -2px;
}
.goods-detail-table tr:nth-of-type(5) span,
.goods-detail-table tr:nth-of-type(6) span {
    width: 40px;
    display: inline-block;
}
.goods-detail-table tr:nth-of-type(5) .s-font {
    font-size: 11px;
    line-height: 15px;
    color: #999999;
}
.goods-detail-table th{
    background:#ededed;
}
.goods-detail-table th, .goods-detail-table td{
    padding:5px 10px;
}
.goods-detail-table select{
    min-width:120px;
    height:25px;
}

.goods-detail-table1{
    width:100%;
    margin-bottom:20px;
    text-align: left;
}
.goods-detail-table1 > tbody > p {
    font-size: 15px;
    font-weight: bold;
}
.goods-detail-table1 input{
    border:none;
    border: 1px solid #b5b5b5;
    height:25px;
    padding:0 5px;
}
.goods-detail-table1 tr{
    height:35px;
    border:1px solid #dadada
}
.goods-detail-table1 tr:nth-of-type(4) > input[type=""] {
    height: auto;
    vertical-align: -2px;
}
.goods-detail-table1 tr:nth-of-type(5) .s-font {
    font-size: 11px;
    line-height: 15px;
    color: #999999;
}
.goods-detail-table1 th{
    background:#ededed;
    text-align: left;
}
.goods-detail-table1 th, .goods-detail-table1 td{
    padding:5px 10px;
}
.goods-detail-table1 select{
    min-width:120px;
    height:25px;
}
input[name="goods-name"], #goods-search, #goods-detail-info, #goods-shipping{
    width:100%;
}
.modal-td-head {text-align: left;}
.btn-red{
    float: right;
    background:#da394a;
    color:#fff;
    padding:10px 15px;
    margin-top:9px;
    margin-right:10px;
    font-size:14px;
    border-radius: 5px;
}
.btn-gray{
    float: right;
    background:#b3b3b3;
    color:#fff;
    padding:10px 15px;
    margin-top:9px;
    margin-right:10px;
    font-size:14px;
    border-radius: 5px;
}
.plus-btn{
    width:20px;
    height:20px;
    margin-left:5px;
    margin-bottom:4px;
    background:url(../img/icon/icon-+.png) center center no-repeat;
    background-size:contain;
    vertical-align:middle;
}

.img-thumb-box{
    margin-top:10px;
    line-height: 0;
}
.modal-body textarea{
    width:100%;
    min-height:100px;
    padding:10px;
}
.modal-body input[type="radio"]{
    -webkit-appearance: radio;
    -moz-appearance: radio;
    appearance: radio;
    height:auto;
}
#goods-exposure+label{
    margin-right:10px;
}
.cc{font-weight: 100;color:#fd5353}
#goods-min, #goods-max, #goods-point{
    width:100px;
}
#shipping-min, #shipping-max{
    width:40px;
}
#goods-retail, #goods-discount{
    width:120px;
}
.shippingFee-detail-wrap input{
    width:120px;
}

.shippingFee-detail-wrap{
    display:none;
}
.shippingFee-detail-wrap.active{
    display:block;
}
.modal1 .img-thumb-box,.modal2 .img-thumb-box {
    margin-top: 0px;
    line-height: 0;
}
.modal1 .goods-detail-table tr:nth-of-type(5) span{
    width: 60px;
    display: inline-block;
}
.modal1 .goods-detail-table tr:nth-of-type(5) span:nth-last-of-type(2){
    width: 10px;
    display: inline-block;
}

.search-form{
    width:100%;
    padding:40px 10px;
    background: #f9fbfc;
    border-bottom: 1px solid #d6d6d6;
}
#listSrcForm{
    margin:0 auto;
    width:1000px;
}
.keyword-src-wrap{
    position:relative;
    margin:0 auto;
    width:800px;
    height:36px;
    border:1px solid #da394a;
    background:#fff;
    margin-bottom:30px;
}
.keyword-src-wrap *{
    border:none;
    background:none;
}
.keyword-src{
    width:100%;
    height:36px;
    padding:0 10px 0 10px;
}
.keyword-src-button{
    position:absolute; top:0; right:0;
    width:50px;
    height:100%;
    background:#da394a;
    color:#fff;
}
.keyword-src-table{
    width:100%;
    text-align: left;
}
.keyword-src-table tr{
    height:30px;
}
.keyword-src-table select{
    min-width:120px;
    height:25px;
}

.goods-list-wrap{
    width:100%;
    padding: 10px 10px 40px 10px;
}
.list-sort-wrap{
    width:100%;
    height:35px;
    margin-top:20px;
    position:relative;
}
.list-sort-wrap .left{
    width:50%;
    position:absolute; top:0; left:0;
}
.list-sort-wrap .right{
    width:50%;
    position:absolute; top:0; right:0;
}
.right .order-select{
    float:right;
    height:25px;
}
.btn-default{
    background:#ffffff;
    color:#5f5f5f;
    border:1px solid;
    padding:3px 5px;
    font-size:12px;
    border-radius: 5px;
}

.goods-list-wrap table{
    width:100%;
    text-align: center;
    border: 1px solid #dadada;
    margin-bottom:20px;
}
.goods-list-wrap thead{
    background:#f1f1f1
}
.goods-list-wrap thead td{
    padding:10px;
    border-left: 1px solid #dadada;
    border-bottom: 1px solid #dadada;
}

.goods-list-wrap tbody td:nth-child(2){text-align: left;}
.goods-list-wrap tbody td:nth-child(3){text-align: left;}
.goods-list-wrap tbody td:nth-child(4){text-align: left;}
.goods-list-wrap tbody td:nth-child(5){text-align: right;}
.goods-list-wrap tbody td:nth-child(6){text-align: right;}
.goods-list-wrap tbody td:nth-child(7){text-align: right;}
.goods-list-wrap tbody td:nth-child(8){text-align: left;}
.goods-list-wrap tbody td:nth-child(9){text-align: right;}
.goods-list-wrap tbody td{
    padding:5px;
    border-left: 1px solid #dadada;
    border-bottom: 1px solid #dadada;
}
.goods-list-btn{
    background:#555555;
    color:#fff;
    padding:3px 5px;
    font-size:14px;
    border-radius: 5px;
}

/*pagination*/
.pagination{
    text-align: center;
}
.pagination2{
    text-align: center;
    padding: 30px 0;
}
.page-item{
    display:inline-block;
}
.page-link{
    display:inline-block;
    width:32px;
    height:32px;
    line-height: 32px;
    color:rgba(0,0,0,0.7);
    border:1px solid rgba(0,0,0,0.1);
}
.page-link.active{
    font-weight: 600;
    color:#fff;
    background:#da394d;
    border:1px solid #da394d;
}