@charset "utf-8";

.display-block{display:block!important;}
a{transition: none;}
input[type="checkbox"]{
    -webkit-appearance:checkbox;
    -moz-appearance: checkbox;
    appearance: checkbox;
}
main{
    width:100%;
    min-width: 1400px;
    font-size:12px;
    font-family: '맑은 고딕', 'Malgun Gothic', 'Dotum', '돋움', 'arial', 'verdana', sans-serif;
    word-break: keep-all;
}
.main-content {
    width: 100%;
    margin: auto;
}
.main-header{
    width:100%;
    height:60px;
    padding:0 10px;
    position:relative;
    border-bottom:1px solid #c6c6c6;
    background: url(../img/admin-hd-bg.gif) repeat-x;
}
.main-header h2{
    width:100%;
    text-align: center;
    font-size:18px;
    font-weight: 600;
    line-height: 60px;
}
.main-hd-btn-wrap{
    position:absolute; top:0; right:0;
    width:350px;
    height:60px;
}
.main-header button{
    float: right;
    background:#da394a;
    color:#fff;
    padding:10px 15px;
    margin-top:9px;
    margin-right:10px;
    font-size:14px;
    border-radius: 5px;
}
.exel-ic{
    display:inline-block;
    width:10px;
    height:10px;
    margin-right:5px;
    background:url(../img/exel.gif) center center no-repeat;
}
/* main-box */
.main-box{
    width: 100%;
    background: #eee;
    overflow: hidden;
}
.main-box > a {
    display: block;
    float: left;
    width: calc(100% / 3 - 0.01px);
    height: 100%;
    line-height: 50px;
    font-size: 15px;
    font-weight: 600;
    color: #c6c6c6;
    text-align: center;
}
.main-box > a:nth-child(2){
    border-left: 1px solid #c6c6c6;
    border-right: 1px solid #c6c6c6;
}
.main-sub-active {
    background: #f9fbfc;
    color: rgba(0,0,0,0.7) !important;
}
.search-form{
    width:100%;
    padding:40px 10px;
    background: #f9fbfc;
    border-bottom: 1px solid #d6d6d6;
}
.in-list-tab form{
    margin:0 auto;
    width:1000px;
}
.keyword-src-wrap{
    position:relative;
    margin:0 auto;
    width:800px;
    height:36px;
    border:1px solid #da394a;
    background:#fff;
    margin-bottom:30px;
}
.keyword-src-wrap *{
    border:none;
    background:none;
}
.keyword-src{
    width:100%;
    height:36px;
    padding:0 10px 0 10px;
}
.keyword-src-button{
    position:absolute; top:0; right:0;
    width:50px;
    height:100%;
    background:#da394a;
    color:#fff;
}
.keyword-src-table{
    width:100%;
    text-align: left;
}
.keyword-src-table tr{
    height:30px;
}
.keyword-src-table select{
    min-width:120px;
    height:25px;
}
/* goods-list-tab */
.goods-list-tab {
    width: 100%;
}
.goods-list-tab tr th {
    padding: 10px;
    font-size: 14px;
    color: #c6c6c6;
    background: #f1f1f1;
    border-left: 1px solid #dadada;
    border-bottom: 1px solid #dadada;
}
.in-list-tab {
    display:none
}
.in-list-tab.on {
    display: block;
}
.goods-list-tab .on {
    color: rgba(0,0,0,0.7);
    background: #f9fbfc;
    border-bottom: 1px solid #f9fbfc;
}
.list-tab {
    cursor: pointer;
}
/* 일정 */
.input-box2{
    overflow: hidden;
}
.cla-p1{
    float: left;
    margin: 0 10px;
}
.cla{
    width: 120px;
    height: 25px;
    float: left;
    background: #fff;
    border: 1px solid #b5b5b5;
}
.cla > input {
    float: left;
    display: block;
    width: 80%;
    height: 100%;
    border-width: 0;
    padding: 0 10px;
}
.cla-img1{
    float: left;
    width: 20%;
    height: 100%;
    background: url(../img/icon/calendar.png) no-repeat center / cover;
}
/* goods-list-wrap */
.goods-list-wrap{
    width:100%;
    padding:10px;
}
.list-sort-wrap{
    width:100%;
    height:35px;
    margin-top:20px;
    position:relative;
}
.list-sort-wrap .left{
    width:50%;
    position:absolute; top:0; left:0;
}
.list-sort-wrap .right{
    width:50%;
    position:absolute; top:0; right:0;
}
.right .order-select{
    float:right;
    height:25px;
}
.list-sort-wrap button{
    background:#ffffff;
    color:#5f5f5f;
    border:1px solid;
    padding:3px 5px;
    font-size:12px;
    border-radius: 5px;
}
.list-tit{
    font-size: 18px;
    margin-top: 25px;
}
.goods-list-wrap table{
    width:100%;
    text-align: center;
    border: 1px solid #dadada;
}
.goods-list-wrap thead{
    background:#f1f1f1
}
.goods-list-wrap tfoot{
    background: #fafafa;
}
.goods-list-wrap thead td, .goods-list-wrap tfoot td{
    padding:10px;
    border-left: 1px solid #dadada;
    border-bottom: 1px solid #dadada;
}
.goods-list-wrap tbody td{
    padding:5px;
    border-left: 1px solid #dadada;
    border-bottom: 1px solid #dadada;
}
#tab-on1 .goods-list-wrap tbody td{text-align: right;}
#tab-on1 .goods-list-wrap tbody td:nth-child(1){text-align: center;}

#tab-on2 .goods-list-wrap tbody td{text-align: right;}
#tab-on2 .goods-list-wrap tbody td:nth-child(1){text-align: center;}

#tab-on3 .goods-list-wrap tbody td{text-align: right;}
#tab-on3 .goods-list-wrap tbody td:nth-child(1){text-align: center;}

.goods-list-wrap tfoot td{text-align: right;}
.goods-list-wrap tfoot td:nth-child(1){text-align: center;}

.goods-list-btn{
    background:#555555;
    color:#fff;
    padding:3px 5px;
    font-size:14px;
    border-radius: 5px;
}

/*pagination*/
.pagination{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.page-item{
    display:inline-block;
}
.page-link{
    display:inline-block;
    width:32px;
    height:32px;
    line-height: 32px;
    color:rgba(0,0,0,0.7);
    border:1px solid rgba(0,0,0,0.1);
    
}
.page-link.active{
    font-weight: 600;
    color:#fff;
    background:#da394d;
    border:1px solid #da394d;
}
.date-search-btn{
    background: #da394a;
    color: #fff;
    padding: 10px 15px;
    margin-left: 15px;
    font-size: 14px;
}
.date-input-box{
	display: flex;
	align-items: center;
}

.input-box1 > button{
    width: 53.5px;
    height: 27px;
    border: 1px solid #62606b;
    background: #fff;
    color: #62606b;
    text-align: center;
    padding-top: 2px;
    margin-right: 5px;
    line-height: 22px;
}