@charset "utf-8";

.display-block{display:block!important;}
a{transition: none;}
body{
    width:100%;
    min-width: 1100px;
    font-size:14px;
    font-family: 'Noto Sans KR';
    background-color:#fff;
    word-break: break-all;
}
.main-section{
    margin:0 auto;
    width:100%;
    min-width: 1100px;
    padding-bottom:100px;
}
.main-section-title{
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    width:0;
    height:0;
}
.goods-main{
    margin:0 auto;
    width:100%;
}
.inner{
    position: relative;
    margin:0 auto;
    width:1100px;
    padding:40px 25px;
}
.epoint-gift-wrap h3{
    font-size: 36px;
    font-weight: 300;
    line-height: normal;
    color: #131415;
    margin-bottom: 25px;
}
.gift-amount{
    width:100%;
    height:30px;
    margin:10px 0;
    font-size:16px;
    font-weight: 400;
    text-align: center;
}
.gift-amount-number{
    color:#da394d;
    font-weight: 600;
}


/*tab*/

.sort-tab{
    margin:20px auto 30px;
    width:100%;
    height:40px;
}
.sort-tab-left{
    float: left;
}
.sort-tab-right{
    float:right;
}
.sort-tab-item{
    padding: 10px 20px;
    font-size: 14px;
    text-align: center;
    color: #bababa;
    background: rgba(242, 242, 242, 0.8);
    border-radius: 25px;
    cursor: pointer;
}
.sort-tab-item.active{
    color:#fff;
    background:#da394d;
}
select.order-select{
    width:120px;
    padding:5px 10px;
    margin-top:5px;
    font-size:12px;
    text-align: right;
    border:none;
    -webkit-appearance: none;  /* 네이티브 외형 감추기 */
    -moz-appearance: none;
    appearance: none;
    background: url(../img/arrow-down-bk.png) no-repeat 95% 50%;  /* 화살표 모양의 이미지 */
}
/* IE 10, 11의 네이티브 화살표 숨기기 */
select.order-select::-ms-expand {
    display: none;
}

/*list*/
.point-product-list{
    margin:0 auto;
    width:100%;
}
.row{
    width:auto;
    height:auto;
    margin:0 auto;
}
.point-product-item{
    float:left;
    position:relative;
    width:333px;
    height:520px;
    margin-right:25px;
    margin-bottom:80px;
}
.row .point-product-item:last-child{
    margin:0;
}
.point-product-item a img{
    width:100%;
}
.share-ic{
    position: absolute;
    bottom: -10px;
    right: 43px;
    display: block;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: url(../img/share.png) center center no-repeat rgb(199, 199, 199);
    background-size: contain;
    opacity: 0.6;
}
/*
.share-ic{
    position: absolute;
    top:10px;
    right:10px;
    display: block;
    width:35px;
    height:35px;
    border-radius: 50%;
    background:url(../img/share.png) center center no-repeat rgb(199, 199, 199);
    background-size:contain;
    opacity: 0.6;
}*/
.share-ic:hover{
    background:url(../img/share-hv.png)#da394d;
}
.point-pdt-title{
    width:100%;
    font-size:18px;
    font-weight: 400;
    line-height: normal;
    color:#000;
    margin-bottom:10px;
}
.point-pdt-title:hover{
    text-decoration: underline;
}
.point-pdt-price{
    float:left;
    width:60%;
    font-size:20px;
    font-family:'Malgun Gothic';
    font-weight: 700;
}
.deadline{
    float:right;
    width:40%;
    font-size:14px;
    color:#aaaaaa;
    text-align: right;
}
.point-pdt-parti-wrap{
    position:absolute;
    bottom:0;
    width:100%;
    text-align: center;
    line-height: normal;
}
.parti-percent-wrap{
    width:100%;
    font-size:13px;
}
.progress{
    position:absolute;
    color:#aaaaaa;
}
.progress:first-child{
    left:0;
}
.progress:last-child{
    right:0;
}
.progress-now-number{
    font-weight: 600;
    color:#da394d;
}
.parti-ppl{
    color:#aaaaaa;
}
.progress-bar{
    position:relative;
    width:100%;
    height:4px;
    background-color:#e8e8e8;
    border-radius: 2px;
    margin:5px 0;
}
.progress-bar-active{
    position:absolute;
    left:0;
    top:0;
    width:80%;
    height:4px;
    background-color:#da394d;
    border-radius: 2px;
}
.parti-point-wrap{
    width:100%;
    color:rgba(0,0,0,0.8)
}
.parti-point-now{
    color:#da394d;
    font-weight: 600;
}
.parti-point-wrap p:last-child{
    font-size:11px;
    color:rgba(0,0,0,0.4)
}

/* num */
.num-box {margin: 20px 0;}
.num-box-in{width: 141px; margin: 0 auto;overflow: hidden;}
.num-box-in > div { float: left;}
.num{
    float: left;
    letter-spacing: 1.8px;
    line-height: 1.2rem;
    margin: 0 15px;
}
.num > span:nth-child(1) > a {
    text-decoration: underline;
    color: #848484;
}

.left-box {
    width: 20px;
    height: 20px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background: url(../img/icon/ico_left.png)no-repeat center / 5px;
}
.right-box{
    width: 20px;
    height: 20px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background: url(../img/icon/ico_right.png)no-repeat center / 5px;
}
.right-box > a,
.left-box > a{ display: block;width: 100%;height: 100%;}

.pagination{
    text-align: center;
}
.page-item{
    display:inline-block;

}
.page-link{
    display:inline-block;
    width:32px;
    height:32px;
    line-height: 29px;
    padding-right:1px;
    text-align: center;
    color:rgba(0,0,0,0.7);
    border:1px solid rgba(0,0,0,0.1);
}
.page-link.active{
    font-weight: 600;
    color:#fff;
    background:#da394d;
    border:1px solid #da394d;
}
.out-box {
    position: absolute;
    left: 1120px;
    top: 30px;
    width: 90px;
    text-align: center;
    z-index: 998;
}