@charset "utf-8";

footer{
    width:100%;
    border-top:1px solid;
}
.footer-top-section{
    width:100%;
    border-bottom:1px solid rgba(0, 0, 0, 0.1);
}
.footer-top-section ul{
    margin:0 auto;
    padding:0 25px;
    width:1100px;
}
.footer-top-section ul li{
    float:left;
    margin-right:40px;
}
.footer-top-section ul li a{
    font-size:14px;
    line-height: 40px;
    color:#131415;
}
.footer-bottom-section{
    width:100%;
}
.footer-bottom-section-inner{
    margin:0 auto;
    width:1100px;
    padding:25px;
}
.footer-left-section{
    float:left;
    width:40%;
}
.footer-h5{
    font-size:14px;
    line-height: normal;
    text-decoration: underline;
}
.footer-h5+h6{
    font-size:14px;
    font-weight: 100;
    margin:5px 0;
}
.footer-right-section .footer-h5{
    margin-bottom:30px;
}
.footer-callnumber{
    font-size:32px;
    font-weight: 900;
    color:#000;
}
.footer-time-wrap{
    width:100%;
    margin-top:30px;
    font-size: 14px;
    line-height: normal;
}
.footer-time-wrap .th{
    width:20%;
    float:left;
}
.footer-time-wrap .td{
    width:80%;
    float:left;
    font-weight: 600;
}
.footer-time-wrap .td span:first-child:after{
    content:'';
    display:inline-block;
    width:1px;
    height:13px;
    background:rgba(0,0,0,0.1);
    margin:0 10px;
}
.footer-time-wrap .td span:last-child{
    font-size:13px;
    font-weight: 100;
}
.footer-right-section{
    float:left;
    width:60%;
}
.footer-right-section ul{
    font-size:14px;
    line-height: 22px;
}
.footer-right-section a{
    font-weight: 600;
}
.footer-bottom-bottom{
    float:left;
    width:100%;
    margin-top:40px;
    padding:30px 0;
    border-top:1px solid rgba(0,0,0,0.1)
}
.authentication{
    float:left;
}
.authentication>div{
    display:inline-block;
    height:30px;
    margin-right:15px;
    cursor: pointer;
}
.authentication>div>img{
}
.sns-list{
    float:right;
}
.sns-list>div{
    display:inline-block;
    height:30px;
    margin-right:10px;
    cursor: pointer;
}