*{box-sizing: border-box; }
body{font-family: "noto sans kr"!important;}
main{overflow: hidden;}
.page-box{width: 1100px; margin: 0px auto; padding: 20px 0 100px;}
.h1-box {
    padding: 70px 0 50px;
    text-align: center;
    color: #232a32;
}
.h1-box > h1 { display: inline-block;}
.h1-box > h1:nth-child(1) {color: #da394d;}
/* left-nav */
.left-nav {
    width: 186px;
    float: left;
}
.left-tit{
    text-align: center;
    font-size: 1.4rem;
    padding: 30px 0 10px 0;
    line-height: 28px;
}
.outer-ul {
    background: #f7f7f9;
    border-style: solid;
    border-width: 2px 0 1px;
    border-color: #232a32;
    
}
.outer-li {
    font-size: 1.2rem;
    font-weight: 700;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 15px 10px;
    line-height: 2.5rem;
    color: #62606b;
}
.outer-li > a {
    color: #62606b;
}
.inner-ul {
    font-size: 15px;
    font-weight: 300;
    line-height: 1.7rem;
}
.inner-ul > li > a {color: #848484;}
.outer-ul a.active {color: #da394d;font-weight: 600;}

/* right-contain */
.right-contain {
    width: calc(914px - 20px);
    float: left;
    margin-left: 20px;
}


/* sec1 */
.sec1-h1 {
    padding-top:10px;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 28px;
}
.sec1-p1 {
    font-size: 0.8rem;
    margin: 7px 0 5px;
    line-height: 28px;
    color: #848484;
}

/*search*/
.faq-search-box{
    width:100%;
    height:60px;
    padding:0 30px;
    margin:30px 0;
    border-top:1px solid;
    border-bottom:1px solid;
    background:#f7f7f9
}
.faq-search-box>span{
    float:left;
    font-size:16px;
    font-weight: 600;
    line-height: 60px;
    margin-right:20px;
}
#faq-search-form{
    float:left;
    position:relative;
    width:750px;
    height:100%;
    padding:11px 0;
}
#faq-search-form input.input-text{
    float:left;
    border:none;
    width:680px;
    height:36px;
    padding:0 15px;
    margin-right:10px;
    border-radius: 18px;
    background:rgb(255, 255, 255);
    font-size: 14px;
    font-family: 'Noto Sans KR';
    line-height: normal;
}
.faq-search-box .search-btn{
    float:left;
    display:block;
    border:none;
    width:60px;
    height:36px;
    position:static;
    border-radius: 30px;
    background:#da394d;
    color:#fff;
    font-size:12px;
    font-weight: 600;
    cursor: pointer;
}
.faq-sort-list{
    clear:both;
    width:100%;
    height:100px;
    margin:30px 0;
    border-top:1px solid;
    border-bottom:1px solid rgba(0,0,0,0.2);
    border-left:1px solid rgba(0,0,0,0.2);
}
.faq-sort-list a{
    display:block;
    width:100%;
    height:100%;
}
.faq-sort-list a.active{
    color:#da394a
}
.faq-sort-item{
    float:left;
    width:calc(100% / 8);
    height:100px;
    padding:5px 0;
    border-right:1px solid rgba(0,0,0,0.2);
    text-align: center;
    font-size:12px;
    font-weight: 600;
}
.faq-sort-item .imgbox{
    width:60px;
    height:60px;
    margin:0 auto;
}
.faq-sort-item i{
    width:100%;
    height:100%;
    display:block;
}
#faq-faq i{
    background:url(../img/icon/faq-faq.svg) center center no-repeat;
}
#faq-qna i{
    background:url(../img/icon/faq-qna.svg) center center no-repeat;
}
#faq-pay i{
    background:url(../img/icon/faq-pay.svg) center center no-repeat;
}
#faq-refund i{
    background:url(../img/icon/faq-refund.svg) center center no-repeat;
}
#faq-shipping i{
    background:url(../img/icon/faq-shipping.svg) center center no-repeat;
}
#faq-event i{
    background:url(../img/icon/faq-event.svg) center center no-repeat;
}
#faq-epoint i{
    background:url(../img/icon/faq-epoint.svg) center center no-repeat;
}
#faq-etc i{
    background:url(../img/icon/faq-etc.svg) center center no-repeat;
}

.faq-search-result{
    display:none;
    width:100%;
    height:50px;
    line-height: 50px;
    font-size: 14px;
}
.faq-search-result.active{
    display:block;
}
.text-red{
    color:#da394a;
}
.faq-data-item-none{
    display:none;
    width:100%;
    height:300px;
    text-align: center;
    line-height: 300px;
    font-size: 14px;
}
.faq-data-item-none.active{
    display:block;
}

.faq-data-list{
    width:100%;
    margin:0 auto;
    margin-bottom:20px;
    border-bottom:1px solid #000;
}
.faq-data-item, .faq-data-title{
    width:100%;
    height:auto;
}
.faq-data-item, .faq-data-title{
    width:100%;
    padding:0;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}
.main-title-box, .faq-data-title{
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
    padding:15px 20px;
}
.faq-data-title{
    font-weight: 600;
    border-top:1px solid #000;
}
.faq-title{
    -webkit-box-flex: 9;      /* OLD - iOS 6-, Safari 3.1-6 */
    -moz-box-flex: 9;         /* OLD - Firefox 19- */
    width: 90%;               /* For old syntax, otherwise collapses. */
    -webkit-flex: 9;          /* Chrome */
    -ms-flex: 9;              /* IE 10 */
    flex: 9;                  /* NEW, Spec - Opera 12.1, Firefox 20+ */
    text-align: left;
    color:rgba(0,0,0,0.5);
    padding-left:20px;
}
.faq-data-title .faq-title{
    text-align: center;
}
.active .faq-title{
    font-weight: 600;
    color:#da394a;
}
.faq-sort{
    -webkit-box-flex: 1;      /* OLD - iOS 6-, Safari 3.1-6 */
    -moz-box-flex: 1;         /* OLD - Firefox 19- */
    width: 10%;               /* For old syntax, otherwise collapses. */
    -webkit-flex: 1;          /* Chrome */
    -ms-flex: 1;              /* IE 10 */
    flex: 1;                  /* NEW, Spec - Opera 12.1, Firefox 20+ */
    text-align: center;
    color:rgba(0,0,0,0.5);
}
.content-box{
    display:none;
    padding:50px 20px 20px;
}
.active .content-box{
    display:block;
}
.faq-data-list .content-box{
    position: relative;
    background:rgba(0,0,0,0.03);
    padding:20px 40px 20px 125px;
    flex-direction: row-reverse;
    display:none;
}
.faq-data-list .active .content-box{
    display:block;
}
.faq-setting-box{
    top:20px;
    right:30px;
    width:100%;
    height:auto;
    text-align: right;
}
.file-ic{
    display:inline-block;
    width:16px;
    height:16px;
    background:url(../img/icon/file.svg) center center no-repeat;
}
.faq-content-body{
    clear: both;
    width:90%;
    padding:25px 0;
    line-height: 25px;
    word-break: keep-all;
}
.faq-content-body-a{
    margin-bottom:20px;
}
.faq-content-body-c{
    width:100%;
}
.faq-content-body-c span a{
    margin-left:5px;
    padding:1px 5px;
    background:#fff;
    border:1px solid;
}
.pagination{
    text-align: center;
}
.page-item{
    display:inline-block;
}
.page-link{
    display:inline-block;
    width:32px;
    height:32px;
    line-height: 32px;
    color:rgba(0,0,0,0.7);
    border:1px solid rgba(0,0,0,0.1);
}
.page-link.active{
    font-weight: 600;
    color:#fff;
    background:#da394d;
    border:1px solid #da394d;
}



.ex, label{font-size:12px;color:#777;}
.ex{line-height: 30px;}

.button-box{
    width:250px;;
    margin:0 auto;
}
.button-box button{
    width:120px;
    height:40px;
    color:#fff;
    font-weight: 600;
}
.button-box button[type="submit"]{
    background:#da394d;
}
.button-box button[type="button"]{
    background:#2d2e43;
}