@charset "utf-8";

.display-block{display:block!important;}
a{transition: none;}
input[type="checkbox"]{
    -webkit-appearance:checkbox;
    -moz-appearance: checkbox;
    appearance: checkbox;
}
body{
    width:100%;
    min-width: 1400px;
    font-size:13px;
    word-break: keep-all;
    background-color: #ecf0f7;
}
eader::after{
    content:'';
    position:absolute;
    top:60px;
    left:0;
    width:100%;
    height:9px;
    background:url(https://res.kurly.com/pc/service/common/1902/bg_1x9.png) repeat-x 0 100%;
}
.language-nav ul{
    z-index:9999;
}
.header-snb-right{
    width:200px;
}
.main-content {
    width: 100%;
    margin: auto;
    padding-bottom:30px;
}
.login-box{
    margin:0 auto;
    margin-top:100px;
    width:450px;
}
.box-header{
    width:100%;
    height:130px;
}
.login-logo{
    width:100%;
    height:50px;
    background:url(../img/logo.png) center top no-repeat;
}
.box-header h2{
    width:100%;
    height:80px;
    line-height: 80px;
    text-align: center;
}
.loginForm{
    width:100%;
}
.loginForm input{
    border:none;
    border:1px solid #cbcbcb;
    width:100%;
    height:50px;
    margin-bottom:10px;
    padding:10px;
}
.loginForm button[type="submit"]{
    width:100%;
    height:65px;
    border:none;
    background:#da294a;
    margin-top:20px;
    color:#fff;
    font-size:20px;
}