*{box-sizing: border-box; }
body{font-family: "noto sans kr"!important;}
main{overflow: hidden;}
.wrap{width:100%;margin:0 auto;}
.page-box{width: 1100px; margin: 0px auto; padding: 20px 0 100px;}
.h1-box {
    padding: 70px 0 50px;
    text-align: center;
    color: #232a32;
}
.h1-box > h1 { display: inline-block;}
.h1-box > h1:nth-child(1) {color: #da394d;}
/* left-nav */
.left-nav {
    width: 186px;
    float: left;
}
.left-tit{
    text-align: center;
    font-size: 1.4rem;
    padding: 30px 0 10px 0;
    line-height: 28px;
}
.outer-ul {
    background: #f7f7f9;
    border-style: solid;
    border-width: 2px 0 1px;
    border-color: #232a32;
    
}
.outer-li {
    font-size: 1.2rem;
    font-weight: 700;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 15px 10px;
    line-height: 2.5rem;
    color: #62606b;
}
.inner-ul {
    font-size: 15px;
    font-weight: 300;
    line-height: 1.7rem;
}
.inner-ul > li > a {color: #848484;}
.inner-ul > li > a.active {color: #da394d;font-weight: 600;}

/* right-contain */
.right-contain {
    width: calc(914px - 20px);
    float: left;
    margin-left: 20px;
}
.dis-none {
    display: none;
}
/* sec1 */
.r-sec1 {
    border-bottom: 1px solid #717080;
    margin: 0 0 40px 0;
}
.sec1-h1 {
    font-size: 1.5rem;
    line-height: 28px;
}
.sec-h1 {
    font-size: 1.6rem;
    margin: 50px 0 20px;
    line-height: 28px;
}
.sec-h1:nth-child(1){
    margin: 20px 0 20px;
}
.sec1-tbody {
    border-top: 1px solid #232a32;
}
.sec1-tbody > tr {
    height: 60px;
}
.padding-left{
    padding-left: 30px;
}
.sec1-td-bor1{
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.body-td1-1{
    margin: 12px 0;
}
.body-td1-1 > a > span{
    display: inline-block;
    width: 100px;
    height: 35px;
    background: #717080;
    color: #fff;
    line-height: 35px;
    margin-left: 15px;
    text-align: center;
}
.body-td1-2 > input {
    width: 300px;
    height: 35px;
    border: 1px solid #232a32;
    outline: none;
}
.body-td1-2 > a > span{
    display: inline-block;
    width: 100px;
    height: 35px;
    background: #232a32;
    color: #fff;
    line-height: 35px;
    margin-left: 15px;
    text-align: center;
}
.body-td2 > select{
    width: 70px;
    height: 35px;
}
.body-td2 > input {
    width: 70px;
    height: 35px;
    outline: none;
    border: 1px solid #aaa;
    padding: 0 10px;
}
.span-w {
    display: inline-block;
    width: 120px;
}
.input-ty {
	margin-top: 5px;
    width: 235px;
    height: 35px;
    border: 1px solid #aaa;
    padding: 0 10px;
}
.tr-height {
    height: 20px !important;
    color: #da394d;
}
.pad-bot {
    padding-bottom: 30px;
}
.pw-color1{
    font-size: 0.8rem;
    color: #9aa1a7;
}
.txt-a {
    text-align: center;
    background: #f7f7f9;
}
/* sec2 */
.r-sec2 > table {
    border-top: 1px solid #232a32;
    border-bottom: 1px solid #aaa;
    font-size: 1rem;
}
.cont1-box2 {
    display:inline-block;
    border: 1px solid #cacbcf;
    width: 455px;
    margin: 20px 0;
}
.cont1-box2 > div {
    height: 45px;
}
.cont1-out1 {
    border-bottom: 1px solid #cacbcf;
}
.cont1-box2 > div > span {
    display: block;
    float: left;
    line-height: 45px;
}
.cont1-box2 > div > span:nth-child(1){
    width: 125px;
    background: #ebecee;
    text-align: center; 
}
.cont1-box2 > div > span:nth-child(2){
    padding-left: 60px;
}
.sec2-td1 {
    padding: 20px 0;
}
.mar-top{margin-top: 20px;}
.c-color{
    color: #848484;
    line-height: 2rem;
}
/* 체크박스 */
.txt1-select {
    width: 280px;
    height: 30px;
}
.ch-display{
    width: 800px;
    display: inline-block;
    margin-left: 35px;
}
input[id="ch1"] + label,
input[id="ch2"] + label,
input[id="ch3"] + label
{
    display: inline-block;
    width: 28px;
    height: 28px;
    background: url(../img/icon/ch-icon1.png)no-repeat center / 17px;
    cursor: pointer;
}
input[id="ch1"]:checked + label,
input[id="ch2"]:checked + label,
input[id="ch3"]:checked + label
{
    background: url(../img/icon/ch-icon2.png)no-repeat center / 17px;
}
input[id="ch1"],
input[id="ch2"],
input[id="ch3"] {
    display: none;
}
.id-box2 > div {
    padding: 30px 0;
}
/* 회원탈퇴 */
.box1{
    overflow: hidden;
}
.box1-in {
    float: right;
    margin: 20px 0;
}
.box1-in > p {
    float: left;
    color: #717080;
}
.box1-in > a {
    display: block;
    float: left;
    width: 100px;
    height: 25px;
    border: 1px solid #717080;
    border-radius: 20px;
    color: #717080;
    text-align: center;
    margin-left: 10px;
}
/* sec3 */
.r-sec3{
    clear: both;
    width: 553px;
    margin: 70px auto;
}
.r-sec3 > button {
    width: 270px;
    height: 60px;
    font-size: 1.5rem;
    border: none;
    outline: none;
    cursor: pointer;
}
.r-sec3 > button:nth-child(1){
    background: #232a32;
    color: #fff;
    margin-right: 10px;
}
.r-sec3 > button:nth-child(2){
    background: #fff;
    border: 1px solid #232a32;
    color: #232a32;
}
.input-phone{
	float: left;
	margin-right: 10px;
}
#phoneBtn{
	float: left;
}