*{box-sizing: border-box; }
body{font-family: "noto sans kr"!important;}
main{position:relative;}
.wrap{width:100%;margin:0 auto;}
.page-box{width: 1100px; margin: 0px auto; padding: 20px 0 100px;}
.h1-box {
    padding: 70px 0 50px;
    text-align: center;
    color: #232a32;
}
.h1-box > h1 { display: inline-block;}
.h1-box > h1:nth-child(1) {color: #da394d;}
/* left-nav */
.left-nav {
    width: 186px;
    float: left;
}
.left-tit{
    text-align: center;
    font-size: 1.4rem;
    padding: 30px 0 10px 0;
    line-height: 28px;
}
.outer-ul {
    background: #f7f7f9;
    border-style: solid;
    border-width: 2px 0 1px;
    border-color: #232a32;
    
}
.outer-li {
    font-size: 1.2rem;
    font-weight: 700;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 15px 10px;
    line-height: 2.5rem;
    color: #62606b;
}
.inner-ul {
    font-size: 15px;
    font-weight: 300;
    line-height: 1.7rem;
}
.inner-ul > li > a {color: #848484;}
.inner-ul > li > a.active {color: #da394d;font-weight: 600;}

/* right-contain */
.right-contain {
    width: calc(914px - 20px);
    float: left;
    margin-left: 20px;
}
.dis-none {
    display: none;
}
/* sec1 */
.sec1-h1 {
    font-size: 1.5rem;
    margin-bottom: 32px;
}
.sec1-ck{
    overflow: hidden;
    border-bottom:1px solid #232a32;
}
.sec1-ck > p {
    float: left;
    width: 200px;
    height: 45px;
    text-align: center;
    color: #717080;
    line-height: 2.8rem;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.1);
    border-width: 1px 1px 0px 1px;
}
.sec1-p {
    color: #717080;
    margin: 30px 0 10px 0;
}
/* 라디오버튼 */
input[type="radio"]{display:none;}
.ra-icon{
    display:inline-block;
    width:20px;
    height:20px;
    background-size:20px auto;}
.ra-icon{background: url(../img/icon/but-g-1.png)no-repeat center / 20px;}
input:checked + label.ra-icon{background:url(../img/icon/but-g-2.png)no-repeat center / 20px;}
/* 테이블 */
table{text-align: center; width: 100%;}
.sec1-tr {
    height: 65px;          
    border-top: 1px solid #717080;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    background: #f7f7f9;
}
tbody {
    color: #717080;
} 
.sec1-tbody > tr{
    height: 80px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1)
}
.td-clolr {
    color: #da394d;
}

/* tab */
.sec1-ck > p:hover {
    cursor:pointer
}
.tab {
    display:none
}
.sec1-ck .on {
    border-width: 1px 1px 0px 1px;
    border-style: solid;
    border-color: #232a32;
    color: #232a32;
}
.r-sec1 .tab.on {
    display: block;
}
/* sec2 */
.r-sec2 {
    margin-top: 20px;
    overflow: hidden;
}
.r-sec2 > p {
    display: block;
    float: left;
    width: 100px;
    height: 25px;
    border: 1px solid #717080;
    border-radius: 20px;
    font-size: 0.8rem;
    text-align: center;
    margin-right: 10px;
    line-height: 1.4rem;
}
.r-sec2 > p a{
    color: #717080;
}
/* sec3 */
.r-sec3{
    clear: both;
    width: 553px;
    margin: 70px auto;
}
.r-sec3 > button {
    width: 270px;
    height: 60px;
    font-size: 1.5rem;
    border: none;
    outline: none;
    cursor: pointer;
}
.r-sec3 > button:nth-child(1){
    background: #232a32;
    color: #fff;
    margin-right: 10px;
}
.r-sec3 > button:nth-child(2){
    background: #fff;
    border: 1px solid #232a32;
    color: #232a32;
}

/* 팝업 */
.modal,.modal2{
    display: none;
    position: fixed;
    z-index: 999999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
    line-height: 28px;
}
.modal-content{
    overflow: hidden;
    width: 630px;
    height: 640px;
    background: #fff;
    margin: 5% auto;
}
.content-in {
    margin: 20px 20px;
    text-align: center;
}
.modal-close-address {
    overflow: hidden;
    height: 50px;
    padding: 0 30px;
    color: #fff;
    background: #232a32;
}
.modal-close-address > p {
    float: left;
    font-size: 1.2rem;
    line-height: 3rem;
}
.close {
    float: right;
    width: 20px;
    height: 20px;
    margin: 15px 0;
    cursor: pointer;
    background: url(../img/x.png)no-repeat center / 18px;
}
tbody tr {
    height: 65px;
}
.body-td1 {
    color: #232a32;
    font-size: 16px;
    text-align: left;
}
.body-td2{text-align: left;}
.body-td2 input {
    width: 100%;
    height: 45px;
    border: 1px solid #ccc;
    padding-left: 10px;
}
.p-num select {
    width: 100px;
    height: 45px;
}
.p-num input{
    width: 100px;
    height: 45px;
}
.input-group input{
    width: 70%;
}
.input-group button{
    width: calc(30% - 5px);
    height: 45px;
    background: #232a32;
    color: #fff;
    vertical-align: -1.5px;
}
.group-input {
    margin-top: 10px;
}
.td-m {
    padding: 10px 0;
}
.btn-box .btn-redcover {
    width: 200px;
    height: 50px;
    border: 1px solid #232a32;
    background: #232a32;
    color: #fff;
    font-size: 18px;
    margin-top: 30px;
}
.btn-redcover1 {
    width: 200px;
    height: 50px;
    border: 1px solid #232a32;
    background: #232a32;
    color: #fff;
    font-size: 18px;
    margin-top: 0px !important;
}

/* ck */
.ck-box {
    width: 100%;
    text-align: left;
    margin-top: 10px;
}
.ck-box input{display:none;}
.ck-box .le-ck-txt{
    display:inline-block;
    width: 21px;
    height: 23px;
    background: url(../img/icon/ch-icon1.png) no-repeat center / cover;
    line-height: 23px;
}
.le-ck-color {
    width: 128px;
    display: inline-block;
    cursor: pointer;
    font-size: 16px;
    margin-left: 10px;
    vertical-align: 5px;
}
.ck-box input:checked + label .le-ck-txt{
    background:url(../img/icon/checked.png) no-repeat center / 20px;
}
.out-box {
    position: absolute;
    left: 1120px;
    top: 30px;
    width: 90px;
    text-align: center;
    z-index: 998;
}