*{box-sizing: border-box; }
body{font-family: "noto sans kr"!important;}
main{position: relative;}
.wrap{width:100%;margin:0 auto;}
.page-box{width: 1100px; margin: 0px auto; padding: 20px 0 100px;}
.h1-box {
    padding: 70px 0 50px;
    text-align: center;
    color: #232a32;
}
.h1-box > h1 { display: inline-block;}
.h1-box > h1:nth-child(1) {color: #da394d;}
/* left-nav */
.left-nav {
    width: 186px;
    float: left;
}
.left-tit{
    text-align: center;
    font-size: 1.4rem;
    padding: 30px 0 10px 0;
    line-height: 28px;
}
.outer-ul {
    background: #f7f7f9;
    border-style: solid;
    border-width: 2px 0 1px;
    border-color: #232a32;
    
}
.outer-li {
    font-size: 1.2rem;
    font-weight: 700;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 15px 10px;
    line-height: 2.5rem;
    color: #62606b;
}
.inner-ul {
    font-size: 15px;
    font-weight: 300;
    line-height: 1.7rem;
}
.inner-ul > li > a {color: #848484;}
.inner-ul > li > a.active {color: #da394d;font-weight: 600;}

/* right-contain */
.right-contain {
    width: calc(914px - 20px);
    float: left;
    margin-left: 20px;
}
.dis-none {
    display: none;
}
/* sec1 */
.r-sec1 {
    border-bottom: 1px solid #717080;
    margin: 0 0 40px 0;
}
.sec1-h1 {
    font-size: 1.5rem;
    line-height: 28px;
}
.sec-p {
    font-size: 1rem;
    margin: 7px 0 9px;
    line-height: 28px;
}
.sec1-tbody {
    border-top: 1px solid #232a32;
}
.sec1-tbody > tr {
    height: 60px;
}
.sec1-tbody > tr:nth-child(1){
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.sec1-td-bor1{
    background: #f7f7f9;
}
.padding-left{
    padding-left: 30px;
}
.body-td1-1{
    margin: 12px 0;
}
.body-td2 > input {
    width: 235px;
    height: 35px;
    outline: none;
    border: 1px solid #aaa;
    padding: 0 10px;
}
.txt-a {
    text-align: center;
}
/* sec2 */
.r-sec2{
    clear: both;
    width: 270px;
    margin: 70px auto;
}
.r-sec2 > button {
    width: 270px;
    height: 60px;
    font-size: 1.5rem;
    border: none;
    outline: none;
    cursor: pointer;
}
.r-sec2 > button:nth-child(1){
    background: #232a32;
    color: #fff;
    margin-right: 10px;
}

.out-box {
    position: absolute;
    left: 1120px;
    top: 30px;
    width: 90px;
    text-align: center;
    z-index: 998;
}
