*{box-sizing: border-box; }
body{font-family: "noto sans kr"!important; line-height: 1.8rem;min-width: 1000px; overflow-x: hidden;}

/* 헤더 */
.body-mar {
    margin:  30px;
}
.header-top {
    overflow: hidden;
    height: 55px;
    background: #2d2e43;
    color: #fff;
}
.header-top > p {
    float: left;
    font-size: 1.3rem;
    margin-left: 30px;
    line-height: 3.4rem;
}
.hea-img {
    float: right;
    width: 30px;
    height: 30px;
    margin: 12px 30px;
    background: url(../img/x.png) no-repeat center / 22px;
}
.p-box {
    overflow: hidden;
    border-bottom: 2px solid #2d2e43;
}
.body-tit1{
    font-size: 1.1rem;
    font-weight: 600;
    float: left;
    padding-bottom: 10px;
    margin-top: 10px;
}
.body-tit2{
    float: right;
    font-size: 0.8rem;
    line-height: 4;
}
table{text-align: center;}
.t-body1 > tr {
    height: 40px;
}
.tr-tit {
    background: #f6f6f8;
}
.t-body1 td, .t-body1 th {
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    border-color: #cccccc;
}
input[type="text"]{
    width: calc(100% - 20px);
    height: 30px;
    border: 1px solid #cccccc;
    padding: 5px;
    text-align: center;
}
input[type="radio"]{
    -webkit-appearance:radio;
    -moz-appearance: radio;
    appearance: radio;
}
input[name="kwon"], input[name="ho"]{
    width:40px;
}
.txt-p{
    font-size: 0.8rem;
    color: #888;
    text-align: center;
    line-height: 1.3rem;
    margin-top: 20px;
}
.but-box {
    width: 200px;
    margin: 20px auto 30px;
}
.but-box > button {
    width: 95px;
    height: 30px;
}
.but1 {
    background: #2d2e43;
    color: #fff;
    text-align: center;
}
.but2 {
    background: #fff;
    border: 1px solid #2d2e43;
}
.f-tit {
    font-size: 1rem;
    color: #2d2e43;
}
.f-tit + p {
    font-size: 0.8rem;
    line-height: 1.2rem;
    color: #989898;
    margin: 10px 0 20px;
}
.t-body2, .t-body2 th, .t-body2 td{
    border:1px solid #cccccc;
}
.t-body2 td{
    text-align: left;
    padding-left:10px;
}
thead.t-body2{
    background:#f6f6f8
}
input[type="radio"]+label{
    margin-right:20px;
}

/* 일정 */
.cla-box {
    float: left;
}
.cla-box label {
    margin-left: 1px !important;
}
.input-box2{
    overflow: hidden;
    float: left;
}
.cla-p1{
    float: left;
    margin: 0 10px;
}
.cla{
    width: calc(100% - 20px);
    height: 21px;
    margin-left:10px;
    background: #fff;
    border: 1px solid #b5b5b5;
}
.cla > input {
    float: left;
    display: block;
    width: 80%;
    height: 100%;
    border-width: 0;
    padding: 0 17px;
}
.cla-img1{
    float: left;
    width: 20%;
    height: 100%;
    background: url(../img/icon/calendar.png) no-repeat center / cover;
}
/*일정*/