*{box-sizing: border-box;}
body{font-family: 'Noto Sans KR' !important;}
.login-box{width: 1100px; margin: 60px auto; letter-spacing: -0.5px;}
.h2-box {
    font-size:30px;
    padding: 30px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    text-align: center;
    color: #232a32;
}
.login-out{
    overflow: hidden;
    width: 755px;
    margin: 50px auto 0;
}
.login-in {
    width: 635px;
    display: block;
    float: left;
    color: #444444;
}
.id-ch{-webkit-appearance: checkbox;}
.id-la {
    display: inline-block;
    width: 130px;
    font-weight: 900;
    font-size: 1rem;
}
.form-con{
    height: 35px;
    width: 500px;
    padding: 0 10px ;
    font-size: 1rem;
    color: #495057;
    border: 1px solid #ced4da;
    outline-color: #da394d;
    margin: 5px 0;
}  
.login-but {
    width: 120px;
    height: 80px;
    float: left;
    display: block;
}
.login-on {
    width: 100%;
    height: 100%;
    background-color: #da394d;
    border: none;
    margin: 5px 0 0 0;
    font-size: 1.2rem;
}
.login-on > span {color: #fff;}
.er {
    clear: both;
    color: #da394d;
    font-size: 1rem;
    width: 500px;
    margin-left: 303px;
    display: none;
}
.option {
    width: 500px;
    margin: 15px 303px;
    font-size: 1rem;
}
.option > label {
    font-weight: 900;
    color: #444444;
}
.id-pw{
    float: right;
    text-decoration: underline;
    font-weight: 900;
    color: #444444;
}
.link-box {
    overflow: hidden;
    background: #f6f6f8;
    margin: 50px 0;
    border-bottom: 1px solid #d3d3d5;
    font-size: 1rem;
}
.txt-p1,
.txt-p2 {
    width: 440px;
    float: left;
    line-height: 42px;
    color: #696969;
}
.txt-w{font-weight: 900;}
.txt-p1{
    line-height: 20px;
}
.txt-p1 > li:nth-child(2) {
    margin-left: 15px;
    font-size: 0.8rem;
}
.link-a {
    float: left;
    display: block;
    width: 180px;
    height: 42px;
    background: #232a32;
    color: #fff;
    text-align: center;
    line-height: 40px;
    font-weight: 900;
    margin-left:20px;
}
.link-join,
.link-nonmem {
    overflow: hidden;
    width: 650px;
    margin: 30px auto;
}
.link-nonmem > a {
    color: #232a32;
    border: 1px solid #232a32;
    background: #fff;
}