.hidden{
    display: none!important;
}
.show-table-row{
    display: table-row !important;
}
.show-block{
    display:block !important;
}
.jq-toast-wrap {
    z-index: 9999 !important;
}

.gnb-section {

    z-index: 999;
}
.er-on{
    display: block!important;
}

.category > table{
    width: 100%;
}
.category table th {
    border-right: 1px solid #dadada;
    text-align: center;
}
.category table td {
    border-right: 1px solid #dadada;
    vertical-align: top;
}
.category table ul li{
    cursor: pointer;
}
.font-weight-bold{
    font-weight: bold;
}
.modal-header{
    width: 65% !important;
}
.modal-content{
    width: 65% !important;
}
.add_image > li{
    float:left;
}
.point-pdt-parti-wrap{
    overflow: hidden!important;
}
.bx-clone {display: none;}

.right-ra
{
    display: inline-block;
    width: 28px;
    height: 28px;
    background: url(../../img/icon/but-g-1.png)no-repeat center / 20px;
    cursor: pointer;
}
.right-ra:checked
{
    background: url(../../img/icon/but-g-2.png)no-repeat center / 20px;
}

.radio-td-custom label span {
    display: inline-block;
    width: 100px;
    margin-left: 30px;
    line-height: 29px;
}
.btn-default {
    background: #ffffff;
    color: #5f5f5f;
    border: 1px solid;
    padding: 3px 5px;
    font-size: 12px;
    border-radius: 5px;
}
.right{
    text-align: right;
}
/* 라디오버튼 */
.radio-td input{display: none;}
.radio-td label span{
    display: inline-block;
    width: 100px;
    margin-left: 30px;
    line-height: 29px;
}
input[id="right-ra1"] + label,
input[id="right-ra2"] + label
{
    display: inline-block;
    width: 28px;
    height: 28px;
    background: url(/assets/img/icon/but-g-1.png)no-repeat center / 20px;
    cursor: pointer;
}
input[id="right-ra2"] + label{
    margin-left: 35px;
}
input[id="right-ra1"]:checked + label,
input[id="right-ra2"]:checked + label
{
    background: url(/assets/img/icon/but-g-2.png)no-repeat center / 20px;
}
input[class='styleClass'] + label
{
    display: inline-block;
    width: 28px;
    height: 28px;
    background: url(/assets/img/icon/but-g-1.png)no-repeat center / 20px;
    cursor: pointer;
}
.radio-td label:nth-of-type(2){
    margin-left: 35px;
}
input[class='styleClass']:checked + label
{
    background: url(/assets/img/icon/but-g-2.png)no-repeat center / 20px;
}


.right-table input[type="text"] {
    height: 30px;
    border: 1px solid #a7a8aa;
}
.btn-red{
    float: right;
    background:#da394a;
    color:#fff;
    padding:10px 15px;
    margin-top:9px;
    margin-right:10px;
    font-size:14px;
    border-radius: 5px;
}
.btn-gray{
    float: right;
    background:#a3a3a3;
    color:#fff;
    padding:10px 15px;
    margin-top:9px;
    margin-right:10px;
    font-size:14px;
    border-radius: 5px;
}

.btn-default{
    background:#ffffff;
    color:#5f5f5f;
    border:1px solid;
    padding:3px 5px;
    font-size:12px;
    border-radius: 5px;
}
.table {
    width: 100%;
    text-align: center;
    border: 1px solid #dadada;
}
.table tbody td {
    padding: 5px;
    border-left: 1px solid #dadada;
    border-bottom: 1px solid #dadada;
}

/*.sec1-tbody > tr {*/
/*    width:100%;*/
/*    height: 50px;*/
/*    border-top: 1px solid #232a32;*/
/*    border-bottom: 1px solid rgba(0, 0, 0, 0.1);*/
/*}*/
/*.sec1-tbody td:first-child{*/
/*    padding:0 30px;*/
/*    background:#f7f7f9*/
/*}*/
/*.sec1-tbody td:nth-child(2){*/
/*    padding:10px 20px;*/
/*}*/
/*.sec1-tbody input, .sec1-tbody select{*/
/*    width:100%;*/
/*    min-height:35px;*/
/*    outline: none;*/
/*    border: 1px solid #aaa;*/
/*    padding: 0 10px;*/
/*    font-family: 'Noto Sans KR';*/
/*    font-weight: 300;*/
/*    color:#777777;*/
/*}*/
.modal, .modal1{
    z-index: 999!important;
}

