@charset "utf-8";
*{margin: 0;padding: 0;box-sizing: border-box;}
.clearfix::after{content: ''; display: block; clear: both;}
body{font-family: 'Noto Sans', sans-serif;font-size:14px;line-height:normal;color:#343434;letter-spacing: -0.5px;}
::selection{background:#6ab1ff}
a{color:#000;text-decoration: none;transition:all 0.2s ease 0s;}
li{list-style: none;}
button{
    border:none;
    cursor:pointer;
    overflow:visible;
    white-space: nowrap;
}
.hide{text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    width: 0;
    height: 0;}
.span-1 {width:30px;}/*3.15789473684211%*//*30나누기 950 해서 나온값에 100을 곱한다*/
.span-2 {width:70px;}/*7.36842105263158%*/
.span-3 {width:110px;}/*11.57894736842105%*/
.span-4 {width:150px;}/*15.78947368421053%*/
.span-5 {width:190px;}/*20%*/
.span-6 {width:230px;}/*24.21052631578947%*/
.span-7 {width:270px;}/*28.42105263157895%*/
.span-8 {width:310px;}/*32.63157894736842%*/
.span-9 {width:350px;}/*36.84210526315789%*/
.span-10 {width:390px;}/*41.05263157894737*/
.span-11 {width:430px;}/*45.26315789473684%*/
.span-12 {width:470px;}/*49.47368421052632%*/
.span-13 {width:510px;}/*53.68421052631579%*/
.span-14 {width:550px;}/*57.89473684210526%*/
.span-15 {width:590px;}/*62.10526315789474%*/
.span-16 {width:630px;}/*66.31578947368421%*/
.span-17 {width:670px;}/*70.52631578947368%*/
.span-18 {width:710px;}/*74.73684210526316%*/
.span-19 {width:750px;}/*78.94736842105263%*/
.span-20 {width:790px;}/*83.15789473684211%*/
.span-21 {width:830px;}/*87.36842105263158%*/
.span-22 {width:870px;}/*91.57894736842105%*/
.span-23 {width:910px;}/*95.78947368421053%*/
.span-24 {width:950px;margin-right:0;}